{% extends 'base.html.twig' %}

{% block body %}

    <div class="container center-block">

        <h1 style="text-align: center; color: steelblue">Let's fight !!!!</h1>

        <h2 style="text-align: center">Choose your fighter:</h2>
        <BR/>
        <BR/>

        <div class="col-md-5">

            <select class="form-control">
                {% for personnage in personnages %}
                    <option>{{ personnage.id }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="col-md-2">
            <pre style="text-align: center;">VS</pre>
        </div>
        <div class="col-md-5">
            <select class="form-control">
                {% for personnage in personnages %}
                    <option>{{ personnage.id }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-12">
            <button type="button" class="btn btn-info" style="width: 100%">Fight !</button>
        </div>
    </div>
    <BR/>
    <BR/>

    <div class="container">
    <h3>Players :</h3>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Xp</th>
            <th>Forces</th>
            <th>Puissance arme</th>
            <th>Pv</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for personnage in personnages %}
            <tr>
                <td><a href="{{ path('personnage_show', { 'id': personnage.id }) }}">{{ personnage.id }}</a></td>
                <td>{{ personnage.xP }}</td>
                <td>{{ personnage.forces }}</td>
                <td>{{ personnage.puissanceArme }}</td>
                <td>{{ personnage.pV }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('personnage_show', { 'id': personnage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('personnage_edit', { 'id': personnage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a class="btn btn-info" href="{{ path('personnage_new') }}">Create a new personnage</a>
       <BR/>
        <BR/>
        
    </div>

{% endblock %}
